{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ 
	 {"item":"clockBox"}

	,{"item":"clocklight"}
	,{"item":"clockcupboard"}
	,{"item":"clockdoor"}
	,{"item":"clocklamp"}
	,{"item":"clocklantern"}
	,{"item":"clocklever"}
	,{"item":"largegear"}
	,{"item":"clockhatch"}
	,{"item":"washhandsposter"}
	,{"item":"blackboard"}
	,{"item":"clockchair"}
	,{"item":"guardian1drop"}
	,{"item":"dragonposter"}
	,{"item":"clockswitch"}
	,{"item":"porthole"}
	,{"item":"clockvender"}
	,{"item":"clockpodinnerwall"}
	,{"item":"clockbutton"}
	,{"item":"clockpodinnerwall2"}
	,{"item":"clockpodinnerwall3"}
	,{"item":"clockpodium"}
	,{"item":"redvalve"}
	,{"item":"clockjaildoor"}
	,{"item":"clockcrate"}
	,{"item":"brassdoor1"}
	,{"item":"clockbed"}
	,{"item":"clockchest"}
	,{"item":"clockdesk"}
	,{"item":"clockpigeon"}
	,{"item":"mopandbucket"}
	,{"item":"typewriter"}
	,{"item":"brassfence1"}
	,{"item":"brassfence2"}
	,{"item":"brasssink"}
	,{"item":"clockbookcase"}
	,{"item":"clockpod"}
	,{"item":"clocktable"}
	,{"item":"gramaphonesingle"}
	,{"item":"gramaphonetriple"}
	,{"item":"bacteriaposter"}
	,{"item":"upperklokposter"}

	,{"item":"upperklokchest"}
	,{"item":"upperklokpants"}
	,{"item":"lowerklokpants"}
	,{"item":"lowerklokchest"}	
	,{"item":"lower1"}
	,{"item":"lower2"}	
	,{"item":"upper1"}
	,{"item":"upper2"}
	,{"item":"upper3"}
	,{"item":"guardianball"}
	
	,{"item":"lowerclass"}
	,{"item":"upperclass"}
	,{"item":"guardian1"}
	
	,{"item":"brassblock"}
	,{"item":"brass2block"}
	,{"item":"brasstech"}
	,{"item":"clockwork"}
	,{"item":"clock"}
	,{"item":"brasspipevertical"}
	,{"item":"brasspipehorizontal"}
	,{"item":"brasspipemiddle"}
	,{"item":"brasspipene"}
	,{"item":"brasspipenw"}
	,{"item":"brasspipese"}
	,{"item":"brasspipesw"}
	,{"item":"copperplatform"}
	
	,{"item":"centurianballTech"}
	,{"item":"centurianflierTech"}
	,{"item":"centurianPackTech"}
	,{"item":"centurianPack2Tech"}

	]
  }
}