{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ { "item" : "upperklokchest" }, { "item" : "upperklokpants" }, { "item" : "clockcupboard" }, { "item" : "clockdoor" }, { "item" : "clocklamp" }, { "item" : "clocklantern" }, { "item" : "clocklever" }, { "item" : "largegear" }
	,{ "item" : "clockhatch" },{"item":"posterwashhands"},{"item":"blackboard"}
	,{"item":"guardian1"}
	,{"item":"clockchair"}
	,{"item":"lower1"}
	,{"item":"lower2"}
	,{"item":"upper1"}
	,{"item":"upper2"}
	,{"item":"upper3"}
	,{"item":"guardian1drop"}
		]
  }
}