{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ { "item" : "walllight" }, { "item" : "clockpod" }, { "item" : "clockcupboard" }, { "item" : "clockdoor" }, { "item" : "clocklamp" }, { "item" : "clocklantern" }, { "item" : "clocklever" }, { "item" : "largegear" }
	,{ "item" : "clockhatch" },{"item":"posterwashhands"},{"item":"blackboard"}
	,{"item":"guardian1"}
		]
  }
}